<%	include partials/header %>

<h1>gallery</h1>
<a href="/">Home</a>
<br>
<a href="/gallery/new">Add another painting</a>

<% paintings.forEach(function(painting){ %>		
	<a href="/gallery/<%= painting._id %>">
		<img src="<%= painting.image %>">
	</a>
<% }); %>

<%	include partials/footer %>
