<%	include partials/header %>

<h1>gallery</h1>
<a href="/">Home</a>

<% paintings.forEach(function(painting){ %>
	<div>
		<h4><%= painting.name %></h4>
		<img src="<%= painting.image %>">
	</div>
<% }); %>

<%	include partials/footer %>
